#contact-section{
    padding-top: 20rem;
}

.contact-image-container{
    background-color: var(--greyContainer);
    border-radius: 50px; 
    width:100px; 
    height:100px;
}

#contact-icons-container{
     justify-content:space-around;
}

.contact-icon-container{
    width:200px;
    align-items : center;
}

.contact-image-icon{
    transform: translateY(35px);
    color: var(--yellowColor);
}

.contact-text-centered{
    text-align: center;
    
}

#contact-img-Form-container{
    padding-top: 100px;
}

#contact-form-style{
     background-color: var(--lightGrey);
     padding: 10px 15px;
    
}

img#contact-image{
    height: 720px;
}
@media (min-width: 800px) {
    .contact-form-group > input , textarea{
        height:2rem;
        
    }
    .contact-image-container{
        background-color: var(--greyContainer);
        border-radius: 50px; 
        width:100px; 
        height:100px;
    }
    
}
#contact-form-style{
    min-width: 450px;
}

@media(min-width:900px){
    #contact-form-style{
       width: 50%;
    }
}
@media(max-width:900px){
    #contact-form-style{
        min-width: 96%;
    }
}
@media (max-width: 1250px) {
    .contact-title-shadow-mob{
        z-index: -1;
        position:absolute;
        font-size: 3rem;
        top: 1%;
        left:7%; 
        color:var(--greyContainer);
        max-width: 90%;
    }

 
    .contact-image-container{
        background-color: var(--greyContainer);
        border-radius: 40px; 
        width:80px; 
        height:80px;
    }
}
.contact-form-group {
    padding: 20px;
    margin-bottom: 10px;
    border-radius:5px;
    font-size: 15px;
    box-sizing: border-box;
    
}

textarea{
    height:150px;
}

input,textarea{
    width: 100%;
    font-family: 'poppins', sans-serif, monospace;
    margin: 0;
    padding: 0;
}
.contact-center-icons-mob{
    align-items: center;
}