#home-section{
    
    height: 30rem;
}

.home-container{
    width: 500px;
}
.home-relative-position{
    position: relative;
    top: 2rem
}

.home-2ndrelative-position{
    position: relative;
    top: -10rem
}

.home-relat-position{
    position: relative;
    top:-14rem;
}





.fade{
    animation: fade-down 2.5s infinite alternate;
}

.home-top-space{
    margin-top: 9rem;
}