
@media (min-width: 801px) and (max-width:1200px){
    #home-section{
        height: 400px;
        width: 100%;
    }
    .home-top-space{
        margin-top: 9rem;
    }
    .home-absInner-mob{
        position: relative;
        max-width: 50%;
        
        
    }
    #home-whiteImg-mob{
        width: auto;
        left: 30%;
        position: relative;
    }

    #home-yellowImg-mob{
        object-fit: cover;
        width: auto;
        max-width: 180px;
        right: 10%;
        position: relative;
    }
   .home-paragraph{
    height: 85%;
    left: 5%;
  
   }
   .home-relBig-position{
    position: relative;
    top: -40%;
    max-width: 100%;
}
.home-relSm-position{
    position: relative;
    top:2rem;
    max-width: 100%;
}
.home-ButtonRelative-position{
    position: relative;
    bottom: 110px;
}
}


@media (min-width: 599px) and (max-width:800px){
    #home-section{
        height: 400px;
        
    }
    .home-top-space{
        margin-top: 9rem;
    }
    .home-absInner-mob{
        position: relative;
        max-width: 50%;
        
        
    }
    #home-whiteImg-mob{
        width: auto;
        left: 20px;
    }

    #home-yellowImg-mob{
        object-fit: cover;
        width: auto;
        max-width: 250px;
        left: -220px;
    }
   .home-paragraph{
    top: 15%;
    left: 8%;
  
   }
   .home-relBig-position{
    position: relative;
    bottom: 15%;
    max-width: 100%;
}
.home-relSm-position{
    position: relative;
    top:2rem;
    max-width: 100%;
}
}
@media (min-width: 1200px) {
    .home-paragraph{
        width: 450px;
    }
    .home-relSm-position{
        position: relative;
        top: 2rem
    }
    
    .home-ButtonRelative-position{
        position: relative;
        top: -10rem
    }
    
    .home-relBig-position{
        position: relative;
        top:-14rem;
    } 
   
    .home-fade-img{
        position:relative;
        left: 65%;
    }
    .home-top-space{
        margin-top: 9rem;
    }
    #home-section{
        height: 30rem;
    }
}
.home-img-zindex{
    z-index: -1;
}
@media (min-width: 488px) and (max-width:599px){
 
    .home-absInner-mob{
        left: 30%;
    }
}

@media (max-width:488px){
 
    .home-absInner-mob{
        left: 25%;
    }
}

@media(max-width:538px){
    .home-relBig-position{
        position: relative;
        top:250px;
        display: inline-block;
    }
    .home-relContainer-mob{
        position: absolute;
        width: 100%;
        top:0;
        bottom: 0;
        
    }
    .home-relSm-position{
        position: relative;
        top:320px;
        display: inline-block; 
    }
}
@media(min-width:537px) and (max-width:599px){
    .home-relContainer-mob{
        position: absolute;
        width: 100%;
        top: 120px;
        bottom: 0;
        
    }
    .home-relBig-position{
        position: relative;
        top:250px;
        display: inline-block;
        left: -130px;
    }
    .home-relSm-position{
        position: relative;
        top:220px;
        display: inline-block; 
    }
}
@media (min-width:572px)and (max-width:599px){
    #home-yellowImg-mob{
        top:-250px;
        left: -200px;
        position: relative;
    }
}
@media (max-width:571px){
    #home-yellowImg-mob{
        top: -450px;
        position: relative;
    }
}
@media (max-width: 599px) {

    
    .home-absInner-mob{
        position: relative;
        width: 70%;
        
        
    }


 

  

    #home-whiteImg-mob{
        position: relative;
        top:-200px;
    }


    #home-section{
        height: 500px;
        
    }
    .home-ButtonRelative-position{
        position: relative;
        top:250px;
        width: fit-content;
    }
}


.fade{
    animation: fade-down 2.5s infinite alternate;
}




