#resume-section{
    
   
    
    padding-top:  10rem;
    
    height: 30rem;
}
.resume-middle{
    width: 100%;
   
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}



.resume-degrees{
    display: flex;
    justify-content: space-around;
}

.resume-degree-container{
    width: 30rem;
    background-color: var(--greyContainer);
    padding: 30px;
}


.resume-date{
    font-size: 26px;
    font-weight: 800;
}