#home{
    display: flex;
    justify-content:flex-start;
    margin-left: 10.5rem;
    padding-top:  10rem;
    
}
.text,#home{
    width: 75rem;
    height: 30rem;
}

@keyframes fade-down {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

.fade{
    animation: fade-down 5s infinite alternate;
}