#resume-section{
    display: flex;
    justify-content:space-around;
    
    padding-top:  10rem;
    
    height: 30rem;
}
.resume-middle{
    width: 100%;
    height: 10rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}



.resume-degrees{
    display: flex;
    justify-content: space-between;
}

.resume-degree-container{
    width: 30rem;
    height: 15rem;
    background-color: var(--greyContainer);
    padding: 30px;
}


.resume-date{
    font-size: 26px;
    font-weight: 800;
}