*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --background:rgb(0,0,0)
}

body{
    background-color: #000000;
    font-family: 'poppins', sans-serif, monospace;
    color: white;
    margin: 0 ;
    
    justify-content: center;
   
}

nav{
    background-color: var(--background);
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-around ;
    gap: 20rem;;
   align-items: center; 
   
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
.nav-link,.navbar-brand{
    text-decoration: none ;
    color: #ffffff;

}
.nav-link:hover,.navbar-brand:hover{
    color: #ffbd39;
}
.nav-link::after,.navbar-brand::after{
    content: '';
    display: block;
    height: 2px;
    background: #ffbd39;
    transform: scale(0,2);
    transition: transform ease-in-out 250ms;
}

.nav-link:hover::after,.navbar-brand:hover::after {transform: scale(1,1);}
    

.navbar-brand{
    font-weight: 900;
   
}
.navbar-collapse{
    width: 50%;
}
    /*
#root{
    width:80%;
}
.navbar-brand{
    color: white;
    font-weight:900;
    font-size: x-large;
}

.nav-link {
    color: white;
    
}
.nav-link:hover, .navbar-brand:hover{
    text-decoration: underline;
    color: white;
    text-decoration-color: #ffbd39;
}


nav{
    height: 100px;
    text-align: center;
    background-color: black;
    
  
}
.navbar-collapse{
    
}