#contact-section{
    padding-top: 20rem;
}

.imageContainer{
    background-color: var(--greyContainer);
    border-radius: 50px; 
    width:100px; 
    height:100px;
    text-align:center;
    
}

#iconsContainer{
    display: flex;
    flex-direction:row;
     justify-content:space-around;
}

.iconContainer{
    width:200px;
    display: flex;
    flex-direction: column; 
    align-items : center;
}

.imageIcon{
    transform: translateY(35px);
    color: var(--yellowColor);
}

#textCentered{
    text-align: center;
}

#imgFormContainer{
    display:flex;
    flex-direction:row;
    padding-top: 100px;
    justify-content: center;
    
}

#formStyle{
    
     background-color: var(--lightGrey);
    
}

img#contactImage{
    width:  502.4px;
    height: 720px;
}

.form-group > input, textarea{
    width:600px;
    margin:41.5px;
    height:50px;
    border-radius:5px;
    font-family: 'poppins', sans-serif, monospace;
    font-size: 15px;
}
textarea{
    height:150px;
}