#about-section{
   
    justify-content: space-around;
    height: 30rem;
}



#about-list{
    display: grid;
    padding-left: 0;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    grid-template-rows: auto auto auto auto auto;
}

    
