#resume-section{
    padding-top:  10rem;
    height: 30rem;
}

.resume-middle{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}
@media (min-width: 800px) {
    .resume-degrees{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items:center;
        gap: 4rem;
    }
    .resume-degree-container{
        width: 30rem;
        background-color: var(--greyContainer);
        padding: 30px;
    }
}

@media (min-width: 800px) and (max-width:1200px) {
    .resume-degrees{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items:center;
        gap: 4rem;
    }
    .resume-degree-container{
        width: 19rem;
        background-color: var(--greyContainer);
        padding: 30px;
    }
}
@media (max-width: 1200px) {
    .resume-title-shadow-mob{
        z-index: -1;
        position:absolute;
        font-size: 2rem;
        top: 1%;
        left:5%; 
        color:var(--greyContainer);
        max-width: 95%;
    }
}
@media (max-width: 800px) {
    .resume-mob-degrees{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        align-items: center;
    }
    .resume-degree-container{
        width: 19rem;
        background-color: var(--greyContainer);
        padding: 30px;
    }

}




.resume-date{
    font-size: 26px;
    font-weight: 800;
}