#contact-section{
    padding-top: 20rem;
}

.contact-image-container{
    background-color: var(--greyContainer);
    border-radius: 50px; 
    width:100px; 
    height:100px;
}

#contact-icons-container{
     justify-content:space-around;
}

.contact-icon-container{
    width:200px;
    align-items : center;
}

.contact-image-icon{
    transform: translateY(35px);
    color: var(--yellowColor);
}

.contact-text-centered{
    text-align: center;
    
}

#contact-img-Form-container{
    padding-top: 100px;
}

#contact-form-style{
     background-color: var(--lightGrey);
     
}

img#contact-image{
    
    height: 720px;
}
@media (min-width: 600px) {
    .contact-form-group > input , textarea{
        height:2rem;
        width:40rem;
    }
    .contact-image-container{
        background-color: var(--greyContainer);
        border-radius: 50px; 
        width:100px; 
        height:100px;
    }
}
@media (max-width: 600px) {
    .contact-title-shadow-mob{
        z-index: -1;
        position:absolute;
        font-size: 3rem;
        top: 1%;
        left:7%; 
        color:var(--greyContainer);
    }
    .contact-form-group > input, textarea{
        width:15rem;
        height:2rem;
    }
    .contact-image-container{
        background-color: var(--greyContainer);
        border-radius: 40px; 
        width:80px; 
        height:80px;
    }
}
.contact-form-group > input, textarea{
    margin:41.5px;
    border-radius:5px;
    font-family: 'poppins', sans-serif, monospace;
    font-size: 15px;
}

textarea{
    height:150px;
}

.contact-center-icons-mob{
    align-items: center;
}