#about-section{
    display: flex;
    justify-content:flex-start;
    margin-left: 5.25rem;
    padding-top:  10rem;
    width: 75rem;
    height: 30rem;
}



#about-list{
    display: grid;
    padding-left: 0;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    grid-template-rows: auto auto auto auto auto;
}
#about-image-container{
    width: 50%;
    display: flex;
    justify-content: start;
}
    
