#resume-section{
    display: flex;
    justify-content:flex-start;
    margin-left: 10.5rem;
    padding-top:  10rem;
    width: 75rem;
    height: 30rem;
}
.Header-Resume{
    width: 100%;
    display: flex;
    justify-content: center;
}



.Degrees-Resume{
    display: flex;
    justify-content: space-between;
}

.Degree-Container{
    width: 30rem;
   height: 20rem;
    background-color: var(--greyContainer);
}
.date{
    font-size: 26px;
    font-weight: 800;
}