


#Project-Card-Style {
        width: 345px;
        align-items:center;
}

#Project-CardMedia-Style{
        height: 0px; 
        padding-top: 56.25%; 
        margin: 10px;
        width:200px;
}

@media (max-width: 600px) {
        #Project-Card-Container{
                display:flex;
                flex-direction:column;
                align-items:center;
                margin-top: 3rem;
        }
}

@media (min-width: 600px) {
        #Project-Card-Container{
                display:flex;
                flex-direction:column;
                align-items:center;
                margin-top: 3rem;
                
        }
}
#projects-section{
        padding-top: 10rem;
}