
@media (min-width: 800px) and (max-width:1200px){
    #skills-section{
        padding-top:  90rem;
    }
}
@media (min-width: 1200px) {
  
    #skills-section{
        padding-top:  20rem;
    }
}
@media (min-width: 800px) {
    .Skills-image{
        width: 70%;
    }
    #skills-section{
        display: flex;
        justify-content:space-around;
        height: 50rem;
    }
}
@media (max-width: 1200px) {
    .skills-title-shadow-mob{
        z-index: -1;
        position:absolute;
        font-size: 2rem;
        top: 20%;
        left:5%; 
        color:var(--greyContainer);
        max-width: 95%;
    }
    .Skills-image{
        width: 100%;
    }
}
@media (max-width: 800px) {
    #skills-section{
        display: flex;
        justify-content:space-around;
        padding-top:  25rem;
        height: 20rem;
    }

  

}